span {
  display: block;
}
.item-list {
  margin-top: 20px;
}
.end {
  padding-bottom: 50px;
}
.padding-left {
  padding-left: 30px;
}
.subtitle {
  color: #757575;
}
.title > .subtitle {
  color: #757575;
  margin-bottom: 0;
  font-size: 1.4em;
}